.banner {
    height: 56vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner::before{
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}
@media (min-width:400px) and (max-width:1024px) {
    .banner-text-area{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 2rem;
    }
}
@media (min-width:1025px){
    .banner-text-area{
        width: 36%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 2rem;
    
    }
}
.banner-text-area > *{
    z-index: 1;
}