.popular-movies{
    color:white;
    margin-bottom: 60px;
}

.popular-movies h3{
    margin-left: 16px;
    margin-bottom: -38px;
    font-weight: bolder;
}

.slider{
    display: flex;
}

.carousel-container{
    overflow: hidden;
    height: 320px;
}