.search-card{
    width: 240px;
    height: 300px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
}
.search-card:hover{
    transform: scale(1) translateZ(20px);
    z-index: 2;
}

.search-title {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

.overlay{
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 8px;
    font-weight: lighter;
}
.overlay:hover{
    opacity: 2;
}

.overlay-badge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 8px;
}

.badge {
    margin: 4px 8px 4px 0px;
}
